
body {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap : 10px
}

.header {
    background-color: green;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width: 100%;
    padding: 10px;
    margin: 0px;
}

div {
    font-size:35px;
}

li {
    font-size:30px;
    color:green;
}

p{
    font-size: 30px;
}